{{ define "main" }}
  {{ .Content }}
	<div class="profile">
		<div class="about-me">
			<div class="title">
			<h1 id="my-name">Pham Van Long Phuoc</h1>
			
						</div>

			<div class="description">
			<img alt="Pham Van Long Phuoc" src="phuocdepzai.jpeg" style="width:200px; height:200px; vertical-align: middle; margin-right: 15px;"/>
			<div class="links-summary">
<div class="links">
                <a href="https://scholar.google.com/citations?user=Tr2w2a4AAAAJ&hl=en&inst=7213243471243491304&oi=ao">Google Scholar</a>
				<a href="https://github.com/phuocchubeo123">Github</a>
			</div>


			<p>I am a First-year PhD student at Brown University, doing Cryptography in the group of Professor <a href="https://sites.google.com/view/peihanmiao/home">Peihan Miao</a>. Currently I focus on variants of the Private Set Intersection (PSI) problem, solved by (cleverly) borrowing tools such as Function Secret Sharing and Zero Knowledge Proofs. I did my Undergraduate study at Nanyang Technological University, where I was fortunate to be guided by Professor <a href="https://personal.ntu.edu.sg/hxwang/">Wang Huaxiong</a> and Professor <a href="https://personal.ntu.edu.sg/hmkiah/">Kiah Han Mao</a>. I worked a lot in Coding Theory, especially the Sequence Reconstruction Problem for Deletion, during my Undergrad, and I'm still open to collaborations.</p>
			</div>
			</div>

			<h3>Papers:</h3>
			<ol>
                <li>Kok Hao Chen, Duc Tu Dao, Han Mao Kiah, Phuoc Van Long Pham, Eitan Yaakobi. <em style="font-style: italic;">Noise-tolerant codebooks for semi-quantitative group testing: Application to spatial genomics.</em> [IEEE ISIT 2024] <a href="https://arxiv.org/pdf/2405.06870">[arXiv]</a></li>
                <li>Phuoc Van Long Pham, Anh Vu Duc, Nhat Minh Hoang, Xuan Long Do, Anh Tuan Luu. <em style="font-style: italic;"> ChatGPT as a math questioner? Evaluating ChatGPT on generating pre-university math questions.</em> [ACM SAC 2024] <a href="https://arxiv.org/pdf/2312.01661">[arXiv]</a></li>
                <li>Johan Chrisnata, Han Mao Kiah, Phuoc Van Long Pham. <em style="font-style: italic;">Deletion Correcting Codes for Efficient DNA Synthesis.</em> [IEEE ISIT 2023] <a href="https://arxiv.org/pdf/2305.07274">[arXiv]</a> </li>
                <li>Phuoc Van Long Pham, Keshav Goyal, Han Mao Kiah. <em style="font-style: italic;">Sequence reconstruction problem for deletion channels: A complete asymptotic solution.</em> [JTCA] [IEEE ISIT 2022] <a href="https://arxiv.org/pdf/2111.04255">[arXiv]</a></li>
			</ol>

			<h3>Preprints:</h3>
			<ol>
				<li>Dung Bui, Gayathri Garimella, Peihan Miao, Phuoc Van Long Pham. <em style="font-style: italic;">New Framework for Structure-Aware PSI From Distributed Function Secret Sharing</em> <a href="https://eprint.iacr.org/2025/907.pdf">[Preprint]</a></li>
				<li>Phuoc Van Long Pham, Yeow Meng Chee, Kui Cai, Van Khu Vu. <em style="font-style: italic;">Sequence Reconstruction for Sticky Insertion/Deletion Channels.</em> <a href="https://arxiv.org/pdf/2504.19363">[arXiv]</a> </li>
			</ol>

			<h3>Academic Services:</h3>
			<ul>
				<li> Conference Reviewer: ISIT 2025.</li>	
				<li> Journal Reviewer: IEEE TIFS.</li>
				<li> Conference Subreviewer: CRYPTO 2025.</li>
				<li> Journal Subreviewer: IEEE TIT.</li>
			</ul>


			<!-- https://emojiterra.com/flag-for-vietnam/ -->
			<h3>Languages</h3>
			<ul>
				<li>Vietnamese <img src="vietnam.png" alt="Vietnamese Flag" style="width:20px; height:auto; vertical-align: middle; display: inline-block">: Can make jokes out of nowhere.</li>
				<li>English <img src="uk.png" alt="English Flag" style="width:20px; height:auto; vertical-align: middle; display: inline-block">: Can make jokes with the right conditions.</li>
				<li>Chinese <img src="china.png" alt="Chinese Flag" style="width:20px; height:auto; vertical-align: middle; display: inline-block">: I am a joke.</li>
			</ul>
		</div>

  {{ end }}