{{ define "main" }}
  {{ .Content }}
	<div class="profile">
		<div class="about-me">
			<div class="title">
			<h1 id="my-name">Pham Van Long Phuoc</h1>
			
						</div>

			<div class="description">
			<img alt="Pham Van Long Phuoc" src="phuocdepzai.jpeg" />
			<div class="links-summary">
<div class="links">
                <a href="https://scholar.google.com/citations?user=Tr2w2a4AAAAJ&hl=en&inst=7213243471243491304&oi=ao">Google Scholar</a>
				<a href="https://github.com/phuocchubeo123">Github</a>
			</div>


			<p>I am a First-year PhD student at Brown University, doing Cryptography in the group of Professor <a href="https://sites.google.com/view/peihanmiao/home">Peihan Miao</a>. Currently I focus on variants of the Private Set Intersection (PSI) problem, solved by (cleverly) borrowing tools such as Function Secret Sharing and Zero Knowledge Proofs. I did my Undergraduate study at Nanyang Technological University, where I was fortunate to be guided by Professor <a href="https://personal.ntu.edu.sg/hxwang/">Wang Huaxiong</a> and Professor <a href="https://personal.ntu.edu.sg/hmkiah/">Kiah Han Mao</a>. I published a lot in Coding Theory during my Undergrad, and I'm still open to collaborations.</p>
			</div>
			</div>

			<h3>Papers:</h3>
			<ul>
				<ol>
                	<li>Kok Hao Chen, Duc Tu Dao, Han Mao Kiah, Phuoc Van Long Pham, Eitan Yaakobi. Noise-tolerant codebooks for semi-quantitative group testing: Application to spatial genomics. [IEEE ISIT 2024] <a href="https://arxiv.org/pdf/2405.06870">[PDF]</a></li>
                	<li>Phuoc Van Long Pham, Anh Vu Duc, Nhat Minh Hoang, Xuan Long Do, Anh Tuan Luu. Chatgpt as a math questioner? Evaluating ChatGPT on generating pre-university math questions. [ACM SAC 2024] <a href="https://dl.acm.org/doi/pdf/10.1145/3605098.3636030">[PDF]</a></li>
                	<li>Johan Chrisnata, Han Mao Kiah, Phuoc Van Long Pham. Deletion Correcting Codes for Efficient DNA Synthesis. [IEEE ISIT 2023] <a href="https://arxiv.org/pdf/2305.07274">[PDF]</a> </li>
                	<li>Phuoc Van Long Pham, Keshav Goyal, Han Mao Kiah. Sequence reconstruction problem for deletion channels: A complete asymptotic solution. [JTCA] [IEEE ISIT 2022] <a href="https://arxiv.org/pdf/2111.04255">[PDF]</a></li>
				</ol>
			</ul>

			<h3>Languages</h3>
			<ul>
				<li>Vietnamese: Can make jokes out of nowhere.</li>
				<li>English: Can make jokes with the right conditions.</li>
				<li>Chinese: I am a joke</li>
		</div>

  {{ end }}