baseURL = 'https://phuocchubeo123.github.io/'
languageCode = 'en-us'
title = 'Pham Van Long Phuoc'
theme="phuocchubeo123"

disableKinds = ['taxonomy', 'term']

[params]
googleAnalyticsID = "G-8SWN2ND23E"

# Main navigation menu
[menu]
	[[menu.main]]
		name = "Home"
		url = "/"
		weight = 1

	[[menu.main]]
		name = "Posts"
		url = "/posts/"
		weight = 2

	[[menu.main]]
		name = "About"
		url = "/about/"
		weight = 3

	[[menu.main]]
		name = "Contact"
		url = "/contact/"
		weight = 4
