body {
	color: #111;
	background-color: #EEE;
	font-family: "Times New Roman", Times, serif;
	line-height: 1.5;
}

code {
}

pre {
	paddieg: 1em;
}

main {
	max-width: 50em;
	margin: 0 auto;
}

.links {
	display:flex;
}

.title {
	display: flex;
	flex-direction: column;
}

.links a {
	margin: 0 1em 0 0;
}

.profile {
	display: flex;
}

.description {
	display: flex;
}


img[alt="Franklin Harding"] {
	float: left;
	width: 13em;
	height: 13em;
	margin-right: 1em
}

img {
	max-width: 80%;
	max-height: 25em;
	display: block;
}

img[src$='#right'] {
	float: right;
}

li {
	margin: 0.5em 0;
}

@media screen and (max-width:990px) {
	.about-me,.links-summary, .description {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	.links {
		justify-content: center;
	}

	img[alt="Pham Van Long Phuoc"] {
		margin-bottom: 1em;
	}

	.profile, .title {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
	}

	img[src$='#right'] {
		float: none;
		margin: 1em auto;
	}
}