{{ define "main" }}
  {{ .Content }}
  <div class="profile">
    <div class="about-me">
      <h3>Activities</h3>
      <div class="section-panel">
        <ul class="section-list">
          <li>I am co-organizing Brown's CS <a href="https://theoryseminar.cs.brown.edu/">Theory Seminar</a> in Fall 2026 with <a href="https://fletcherwill.github.io/">Willem Fletcher</a>. The <a href="https://theoryseminar.cs.brown.edu/">webiste</a> is up!</li>
          <li>I co-organized Brown's CS Theory Lunch in Summer 2026 with <a href="https://richardhuangz.github.io/">Richard Huang</a>.</li>
          <li>I co-organized Brown's CS <a href="https://theoryseminar.cs.brown.edu/">Theory Seminar</a> in Spring 2026 with <a href="https://richardhuangz.github.io/">Richard Huang</a>.</li>
          <li>I co-organized a weekly Reading Group on Crypto+ML during Summer 2025 at <a href="https://simons.berkeley.edu/programs/cryptography-10-years-later-obfuscation-proof-systems-secure-computation">Simons Institute</a> with <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/goldwasser.html">Shafi Goldwasser</a> and <a href="https://neekonvafa.com/">Neekon Vafa</a>.</li>
        </ul>
      </div>

      <h3>Academic Services:</h3>
      <div class="section-panel">
        <ul class="section-list">
          <li> Conference Reviewer: ISIT 2025, TCC 2025, EUROCRYPT 2026, SCN 2026.</li>
          <li> Journal Reviewer: IEEE TIFS, IEEE TIT, Springer Nature DCC.</li>
          <li> Conference Subreviewer: CRYPTO (2025, 2026), S&P 2026, CCS 2026.</li>
        </ul>
      </div>
    </div>
  </div>
{{ end }}
