{{ define "main" }}
  {{ .Content }}
  <div class="profile">
    <div class="about-me">
      <h3>Talks:</h3>
      <div class="section-panel">
        <ul class="section-list">
          <li> New Framework for Structure-Aware PSI From Distributed Function Secret Sharing.
            <ul>
              <li>Asiacrypt 2025, Melbourne, Australia.</li>
              <li>Brown's Cryptography Reading Group, Spring 2026.</li>
              <li>Brown's Algorithm Lunch, Fall 2025.</li>
            </ul>
          </li>
          <li> Noise-tolerant Codebooks for Semi-quantitative Group Testing: Application to Spatial Genomics.
            <ul>
              <li>The 2024 IEEE International Symposium on Information Theory, Athens, Greece.</li>
              <li>The 2nd Workshop on Combinatorics and Coding Theory, VIASM, Hanoi, Vietnam.</li>
            </ul>
          </li>
          <li> Sequence reconstruction problem for deletion channels: A complete asymptotic solution.
            <ul>
              <li>The 2022 IEEE international Symposium on Information Theory, Aalto University, Espoo, Finland.</li>
              <li>2022 Munich Workshop on Coding and Cryptography, Munich, Germany.</li>
            </ul>
          </li>
        </ul>
      </div>

      <h3>Activities</h3>
      <div class="section-panel">
        <ul class="section-list">
          <li>I am co-organizing Brown's CS <a href="https://theoryseminar.cs.brown.edu/">Theory Seminar</a> in Spring 2026 with <a href="https://richardhuangz.github.io/">Richard Huang</a>.</li>
          <li>I co-organized a weekly Reading Group on Crypto+ML during Summer 2025 at <a href="https://simons.berkeley.edu/programs/cryptography-10-years-later-obfuscation-proof-systems-secure-computation">Simons Institute</a> with <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/goldwasser.html">Shafi Goldwasser</a> and <a href="https://neekonvafa.com/">Neekon Vafa</a>.</li>
        </ul>
      </div>

      <h3>Academic Services:</h3>
      <div class="section-panel">
        <ul class="section-list">
          <li> Conference Reviewer: ISIT 2025, TCC 2025, EUROCRYPT 2025.</li>
          <li> Journal Reviewer: IEEE TIFS, IEEE TIT.</li>
          <li> Conference Subreviewer: CRYPTO 2025, S&P 2026, CCS 2026.</li>
        </ul>
      </div>
    </div>
  </div>
{{ end }}
