{{ define "main" }}
  {{ .Content }}
  <div class="profile">
    <div class="about-me">
      <h3>Publications:</h3>
      <div class="links-summary">
        <div class="section-panel papers-panel">
          <ol class="papers-list">
            <li>
              <span class="paper-title">Multiparty Computation with Minimal Overhead without Circuit Transformation.</span>
              <br><span class="paper-authors">Aditya Hegde, Phuoc Van Long Pham, Mingyuan Wang.</span>
              <div class="paper-links">
                <a class="paper-venue">CRYPTO 2026</a>
                <a class="paper-venue">TPMPC 2026</a>
              </div>
            </li>
            <li>
              <span class="paper-title">Mosaic: A Modular Framework for Private Fuzzy Heavy Hitters.</span>
              <br><span class="paper-authors">Gayathri Garimella, Peihan Miao, Eileen Nolan, Phuoc Van Long Pham, Siddarth Sitaraman.</span>
              <div class="paper-links">
                <a class="paper-venue">CCS 2026</a>
              </div>
            </li>
            <li>
              <span class="paper-title">Sequence Reconstruction for Sticky Insertion/Deletion Channels.</span>
              <br><span class="paper-authors">Phuoc Van Long Pham, Yeow Meng Chee, Kui Cai, Van Khu Vu.</span>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2026</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2504.19363">arXiv</a>
              </div>
            </li>
            <li>
              <span class="paper-title">PICS: Private Intersection over Committed (and reusable) Sets.</span>
              <br><span class="paper-authors">Aarushi Goel, Peihan Miao, Phuoc Van Long Pham, Satvinder Singh.</span>
              <div class="paper-links">
                <a class="paper-venue">USENIX Security 2026</a>
                <a class="paper-venue">TPMPC 2026</a>
                <a class="paper-eprint" href="https://eprint.iacr.org/2025/1071.pdf">ePrint</a>
              </div>
            </li>
            <li>
              <span class="paper-title">New Framework for Structure-Aware PSI From Distributed Function Secret Sharing.</span>
              <br><span class="paper-authors">Dung Bui, Gayathri Garimella, Peihan Miao, Phuoc Van Long Pham.</span>
              <div class="paper-links">
                <a class="paper-venue">ASIACRYPT 2025</a>
                <a class="paper-eprint" href="https://eprint.iacr.org/2025/907.pdf">ePrint</a>
              </div>
            </li>
            <li>
              <span class="paper-title">Noise-tolerant Codebooks for Semi-quantitative Group Testing: Application to Spatial Genomics.</span>
              <br><span class="paper-authors">Kok Hao Chen, Duc Tu Dao, Han Mao Kiah, Phuoc Van Long Pham, Eitan Yaakobi.</span>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2024</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2405.06870">arXiv</a>
              </div>
            </li>
            <li>
              <span class="paper-title">ChatGPT as a Math Questioner? Evaluating ChatGPT on Generating Pre-university Math Questions.</span>
              <br><span class="paper-authors">Phuoc Van Long Pham, Anh Vu Duc, Nhat Minh Hoang, Xuan Long Do, Anh Tuan Luu.</span>
              <div class="paper-links">
                <a class="paper-venue">ACM SAC 2024</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2312.01661">arXiv</a>
              </div>
            </li>
            <li>
              <span class="paper-title">Deletion Correcting Codes for Efficient DNA Synthesis.</span>
              <br><span class="paper-authors">Johan Chrisnata, Han Mao Kiah, Phuoc Van Long Pham.</span>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2023</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2305.15387">arXiv</a>
              </div>
            </li>
            <li>
              <span class="paper-title">Sequence reconstruction problem for deletion channels: A complete asymptotic solution.</span>
              <br><span class="paper-authors">Phuoc Van Long Pham, Keshav Goyal, Han Mao Kiah.</span>
              <div class="paper-links">
                <span class="paper-journal">JTCA</span>
                <a class="paper-venue">ISIT 2022</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2111.04255">arXiv</a>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <h3>Preprints:</h3>
      <div class="section-panel">
        <ol class="section-list">
          <li>
            <span class="paper-title">A Cryptographic Perspective on California's Delete Request and Opt-out Platform.</span>
            <br><span class="paper-authors">Aarushi Goel, Gabriel Kaptchuk, Peihan Miao, Phuoc Van Long Pham, Satvinder Singh, Rachel E Thomas.</span>
            <div class="paper-links">
              <a class="paper-eprint" href="https://eprint.iacr.org/2026/1421.pdf">ePrint</a>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
{{ end }}
