{{ define "main" }}
  {{ .Content }}
  <div class="profile">
    <div class="about-me">
      <h3>Publications:</h3>
      <div class="links-summary">
        <div class="section-panel papers-panel">
          <ol class="papers-list">
            <li>Aditya Hegde, Phuoc Van Long Pham, Mingyuan Wang. <em style="font-style: italic;">Multiparty Computation with Minimal Overhead without Circuit Transformation.</em>
              <div class="paper-links">
                <a class="paper-venue">TPMPC 2026</a>
              </div>
            </li>
            <li>Gayathri Garimella, Peihan Miao, Eileen Nolan, Phuoc Van Long Pham, Siddarth Sitaraman. <em style="font-style: italic;">Mosaic: A Modular Framework for Private Fuzzy Heavy Hitters.</em><br>
              <div class="paper-links">
                <a class="paper-venue">CCS 2026</a>
              </div>
            </li>
            <li>Phuoc Van Long Pham, Yeow Meng Chee, Kui Cai, Van Khu Vu. <em style="font-style: italic;">Sequence Reconstruction for Sticky Insertion/Deletion Channels.</em><br>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2026</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2504.19363">arXiv</a>
              </div>
            </li>
            <li>Aarushi Goel, Peihan Miao, Phuoc Van Long Pham, Satvinder Singh. <em style="font-style: italic;">PICS: Private Intersection over Committed (and reusable) Sets.</em><br>
              <div class="paper-links">
                <a class="paper-venue">USENIX Security 2026</a>
                <a class="paper-venue">TPMPC 2026</a>
                <a class="paper-eprint" href="https://eprint.iacr.org/2025/1071.pdf">ePrint</a>
              </div>
            </li>
            <li>Dung Bui, Gayathri Garimella, Peihan Miao, Phuoc Van Long Pham. <em style="font-style: italic;">New Framework for Structure-Aware PSI From Distributed Function Secret Sharing.</em><br>
              <div class="paper-links">
                <a class="paper-venue">ASIACRYPT 2025</a>
                <a class="paper-eprint" href="https://eprint.iacr.org/2025/907.pdf">ePrint</a>
              </div>
            </li>
            <li>Kok Hao Chen, Duc Tu Dao, Han Mao Kiah, Phuoc Van Long Pham, Eitan Yaakobi. <em style="font-style: italic;">Noise-tolerant Codebooks for Semi-quantitative Group Testing: Application to Spatial Genomics.</em><br>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2024</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2405.06870">arXiv</a>
              </div>
            </li>
            <li>Phuoc Van Long Pham, Anh Vu Duc, Nhat Minh Hoang, Xuan Long Do, Anh Tuan Luu. <em style="font-style: italic;">ChatGPT as a Math Questioner? Evaluating ChatGPT on Generating Pre-university Math Questions.</em><br>
              <div class="paper-links">
                <a class="paper-venue">ACM SAC 2024</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2312.01661">arXiv</a>
              </div>
            </li>
            <li>Johan Chrisnata, Han Mao Kiah, Phuoc Van Long Pham. <em style="font-style: italic;">Deletion Correcting Codes for Efficient DNA Synthesis.</em><br>
              <div class="paper-links">
                <a class="paper-venue">ISIT 2023</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2305.15387">arXiv</a>
              </div>
            </li>
            <li>Phuoc Van Long Pham, Keshav Goyal, Han Mao Kiah. <em style="font-style: italic;">Sequence reconstruction problem for deletion channels: A complete asymptotic solution.</em><br>
              <div class="paper-links">
                <span class="paper-journal">JTCA</span>
                <a class="paper-venue">ISIT 2022</a>
                <a class="paper-eprint" href="https://arxiv.org/pdf/2111.04255">arXiv</a>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <h3>Preprints:</h3>
      <div class="section-panel">
        <ol class="section-list">
          <li>Currently no</li>
        </ol>
      </div>
    </div>
  </div>
{{ end }}
