{{ define "main" }}
  {{ .Content }}
  <div class="profile">
    <div class="about-me">
      <h3>Talks:</h3>
      <p>
        Presenting papers is <em>not</em> just to show results. 
        Through a well-prepared talk, I hope to express my own viewpoint about the problem, and the solution that we proposed.
        Given enough time to practice and many iterations, I believe anyone could come up with a talk that has a clear structure, and <strong>one</strong> clear message that the author hopes to convey.
        This message could be the <em>problem itself</em>, or the <em>new technique</em> that was introduced in the work, or sometimes just a really subtle trick that requires sufficient <em>background and explanation</em> to understand.

        </br>In my point of view, giving a good talk is <em>hard</em>, and I have a high standard on public speaking.
        For almost all of my talks, given sufficient time, I always prepare a well-thought <em>script</em> (even before preparing the slides!), which (I feel) greatly help with consistency and delivery.
        Especially, as a self-claimed funny guy, I suddenly want to give one or two jokes in my presentation, that would <em>fail embarassingly</em> without a script and a thousand iterations.
        This preparation had certainly given me a lot of compliments for many talks I have given (both serious and non serious talks) (trust me, or just ask some friends about my PICS talk).

        </br> I hope these small tips would help bring a little improvement to the presentations of whoever is reading this page! 
        Nonetheless, time to advertisement: If you would like to host me for a talk, don't be shy and send an email to (firstname)_pham_van_long(at)brown.edu!
      </p>
      <div class="section-panel">
        <ul class="section-list">
          <li><span class="paper-title">Survey for Reed-Solomon List Decoding and related topics.</span>
            <ul class="paper-authors">
              <li>Seminar ACR Lab - VIASM, Hanoi, Vietnam (Remote).</li>
            </ul>
          </li>
          <li><span class="paper-title">Multiple lectures on Reed-Solomon Codes: Berlekamp-Welch algorithm, List Decoding.</span>
            <ul class="paper-authors">
              <li>Brown's Algorithm Lunch, Summer 2026.</li>
            </ul>
          </li>
          <li><span class="paper-title">PICS: Private Intersection over Committed (and reusable) Sets.</span>
            <ul class="paper-authors">
              <li>USENIX Security 2026, Baltimore, USA.</li>
              <li>TPMPC 2026, Aarhus, Denmark.</li>
              <li>MongoDB Cryptography Research Group, New York, USA.</li>
              <li>Brown's Cryptography Reading Group, Spring 2026.</li>
            </ul>
          </li>
          <li><span class="paper-title">Multiparty Computation with Minimal Overhead without Circuit Transformation.</span>
            <ul class="paper-authors">
              <li>TPMPC 2026, Aarhus, Denmark.</li>
              <li>Columbia's Student Theory Seminar, New York, Spring 2026.</li>
            </ul>
          </li>
          <li><span class="paper-title">New Framework for Structure-Aware PSI From Distributed Function Secret Sharing.</span>
            <ul class="paper-authors">
              <li>Asiacrypt 2025, Melbourne, Australia.</li>
              <li>Brown's Cryptography Reading Group, Spring 2026.</li>
              <li>Brown's Algorithm Lunch, Fall 2025.</li>
            </ul>
          </li>
          <li><span class="paper-title">Noise-tolerant Codebooks for Semi-quantitative Group Testing: Application to Spatial Genomics.</span>
            <ul class="paper-authors">
              <li>The 2024 IEEE International Symposium on Information Theory, Athens, Greece.</li>
              <li>The 2nd Workshop on Combinatorics and Coding Theory, VIASM, Hanoi, Vietnam.</li>
            </ul>
          </li>
          <li><span class="paper-title">Sequence reconstruction problem for deletion channels: A complete asymptotic solution.</span>
            <ul class="paper-authors">
              <li>The 2022 IEEE international Symposium on Information Theory, Aalto University, Espoo, Finland.</li>
              <li>2022 Munich Workshop on Coding and Cryptography, Munich, Germany.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{ end }}
